<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ftp.dll" version="2.0.19002.942" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.900.148" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
  <package id="RDLCReportRunner" version="1.0.0" targetFramework="net40" />
  <package id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net45" />
</packages>