<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net40" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.802.134" targetFramework="net40" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.340.80" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Common.VS2010" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WinForms.VS2010" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net40" />
  <package id="RDLCReportRunner" version="1.0.0" targetFramework="net40" />
  <package id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net40" />
</packages>